{% extends 'base.html' %}
{% block content %}
    <div class="customer_info">
        {{ customer.id }} {{ customer.name }}{{ customer.phone }}{{ customer.address }}
    </div>
    <div class="customer_update">
        <form action="update/">
            <button>수정</button>
        </form>
    </div>


    <div class="consult">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ counsel_form.as_p }}
            <button>저장</button>
        </form>
    </div>

{% endblock %}  content %}